* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;   
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: blue;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);

}

.container .card:after {
    content: 'Sepatu';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(0, 0, 0, 0.04);
}

.container .card .imgBox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBox {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBox img {
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container .card .contentBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBox {
    height: 210px;
}

.container .card .contentBox h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: blue;
}

.container .card .contentBox .size, 
.container .card .contentBox .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBox .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBox .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBox .size h3, 
.container .card .contentBox .color h3 {
    color: black;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container .card .contentBox .size span {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    display: inline-block;
    background: cornsilk;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;

}

.container .card .contentBox .size span:hover {
    background: blue;
    color: white;
}

.container .card .contentBox .color span {
    width: 20px;
    height: 20px;
    background: yellow;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

}

.container .card .contentBox .color span:nth-child(2) {
    background: blue;
}

.container .card .contentBox .color span:nth-child(3) {
    background: yellowgreen;
}

.container .card .contentBox .color span:nth-child(4) {
    background: red;
}

.container .card .contentBox a {
    display: inline-block;
    padding: 10px 20px;
    background: blue;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color:white;
    opacity: 0;
    transform: translateY(50px);
    transform: 0.5s;
}

.container .card:hover .contentBox a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.75s;
}